
.deal_list {
  padding-left: 0px;
  height: auto;
  margin-top 10px
  border-bottom: 0;
  li {
    float: left;
    width: 240px;
    height: 100%;
    overflow: hidden;
    position: relative;
    h3 {
      padding: 5px;
    }
  }
}


.deal_name a {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.deal_list li h3 .deal_price del {
  color: #777;
  margin-left: 12px;
  float: right;
  font-weight: normal;
  display: inline-block;
}

.deal_list li .tuan_time {
  position: absolute;
  top: 210px;
  left: 0;
  width: 230px;
  line-height: 30px;
  margin: 0 5px;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 14px;
}

.deal_list li .tuan_time span {
  color: #e22214;
  font-weight: bold;
  font-size: 16px;
}




